<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Category" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="father_id" property="fatherId" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="slogan" property="slogan" jdbcType="VARCHAR" />
    <result column="cat_image" property="catImage" jdbcType="VARCHAR" />
    <result column="bg_color" property="bgColor" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="CategoryDTO" type="com.imooc.dto.response.CategoryDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="fatherId" property="fatherId" jdbcType="INTEGER" />
    <collection property="subCatList" ofType="com.imooc.dto.response.SubCategoryDTO">
      <id column="subId" property="subId" jdbcType="INTEGER" />
      <result column="subName" property="subName" jdbcType="VARCHAR" />
      <result column="subType" property="subType" jdbcType="INTEGER" />
      <result column="subFatherId" property="subFatherId" jdbcType="INTEGER" />
    </collection>
  </resultMap>

    <resultMap id="NewItemsDTO" type="com.imooc.dto.NewItemsDTO" >
        <id column="rootCatId" property="rootCatId" jdbcType="INTEGER" />
        <result column="rootCatName" property="rootCatName" jdbcType="VARCHAR" />
        <result column="slogan" property="slogan" jdbcType="VARCHAR" />
        <result column="catImage" property="catImage" jdbcType="VARCHAR" />
        <result column="bgColor" property="bgColor" jdbcType="VARCHAR" />
        <collection property="simpleItemList" ofType="com.imooc.dto.SimpleItemDTO">
            <id column="itemId" property="itemId" jdbcType="INTEGER" />
            <result column="itemName" property="itemName" jdbcType="VARCHAR" />
            <result column="itemUrl" property="itemUrl" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    <select id="getSubCatList" resultMap="CategoryDTO">
    SELECT
        f.id as id,
        f.`name` as `name`,
        f.type as type,
        f.father_id as fatherId,
        c.id as subId,
        c.`name` as subName,
        c.type as subType,
        c.father_id as subFatherId
    FROM category f
    LEFT JOIN category c on f.id = c.father_id
    WHERE f.father_id = #{fatherId}
  </select>

  <select id="getSixNewItemsLazy" resultMap="NewItemsDTO">
    SELECT
        c.id as rootCatId,
        c.`name` AS rootCatName,
        c.slogan,
        c.cat_image as catImage,
        c.bg_color as bgColor,
        i.id as itemId,
        i.item_name as itemName,
        ii.url as itemUrl
    FROM category c
    LEFT JOIN items i on c.id = i.root_cat_id
    LEFT JOIN items_img ii on ii.item_id = i.id
    WHERE i.root_cat_id = #{fatherCatId} and ii.is_main = 1
  </select>
</mapper>