<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Category" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="father_id" property="fatherId" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="slogan" property="slogan" jdbcType="VARCHAR" />
    <result column="cat_image" property="catImage" jdbcType="VARCHAR" />
    <result column="bg_color" property="bgColor" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="CategoryDTO" type="com.imooc.dto.response.CategoryDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="fatherId" property="fatherId" jdbcType="INTEGER" />
    <collection property="subCatList" ofType="com.imooc.dto.response.SubCategoryDTO">
      <id column="id" property="subId" jdbcType="INTEGER" />
      <result column="name" property="subName" jdbcType="VARCHAR" />
      <result column="type" property="subType" jdbcType="INTEGER" />
      <result column="subFatherId" property="subFatherId" jdbcType="INTEGER" />
    </collection>
  </resultMap>

  <select id="getSubCatList" resultMap="CategoryDTO">
    SELECT
        f.id as id,
        f.`name` as `name`,
        f.type as type,
        f.father_id as fatherId,
        c.id as subId,
        c.`name` as subName,
        c.type as subType,
        c.father_id as subFatherId
    FROM category f
    LEFT JOIN category c on f.id = c.father_id
    WHERE f.father_id = #{fatherId}
  </select>
</mapper>