<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.ItemsMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Items" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="cat_id" property="catId" jdbcType="INTEGER" />
    <result column="root_cat_id" property="rootCatId" jdbcType="INTEGER" />
    <result column="sell_counts" property="sellCounts" jdbcType="INTEGER" />
    <result column="on_off_status" property="onOffStatus" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <select id="searchItems" resultType="com.imooc.dto.response.SearchItemRespDTO">
    SELECT
     i.id itemId,
     i.item_name itemName,
     i.sell_counts sellCounts,
     ii.url imgUrl,
     tmp.price_discount price
    FROM items i
    LEFT JOIN items_img ii on i.id = ii.item_id
    LEFT JOIN (SELECT
         item_id iId,
         MIN(price_discount) price_discount
        FROM items_spec
        GROUP BY item_id
    ) tmp on i.id = tmp.iId
    WHERE ii.is_main = 1
     <if test="query.keywords != null and query.keywords != ''">
         and i.item_name like '%${query.keywords}%'
     </if>
     order by
     <choose>
         <when test="query.sort == &quot;c&quot;">
             i.sell_counts desc
         </when>
         <when test="query.sort == &quot;p&quot;">
             tmp.price_discount desc
         </when>
         <otherwise>
             i.item_name desc
         </otherwise>
     </choose>

  </select>
</mapper>