<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.ItemsCustomMapper" >
    <select id="queryItemComments" parameterType="Map" resultType="com.imooc.vo.ItemCommentVO">
        SELECT
            ic.comment_level commentLevel,
            ic.content content,
            ic.sepc_name specName,
            ic.created_time createTime,
            u.face userFace,
            u.nickname nickname
        FROM
            items_comments ic
        LEFT JOIN users u ON ic.user_id = u.id
        WHERE
            ic.item_id = #{paramsMap.itemId}
            <if test="paramsMap.level != null">
                AND ic.comment_level = #{paramsMap.level}
            </if>
    </select>
</mapper>